@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("/assets/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/OpenSans-Regular.woff") format("woff"),
    url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("/assets/fonts/OpenSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/OpenSans-SemiBold.woff") format("woff"),
    url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("/assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/OpenSans-Bold.woff") format("woff"),
    url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Marselis Pro";
  src: url("/assets/fonts/MarselisPro-Bold.eot");
  src: local("MarselisPro-Bold"),
    url("/assets/fonts/MarselisPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/MarselisPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/MarselisPro-Bold.woff") format("woff"),
    url("/assets/fonts/MarselisPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Open Sans";
}

@media (max-width: 1140px) {
  .swiper-prv,
  .swiper-nxt {
    display: none !important;
  }
}
.swiper-button-disabled {
  opacity: 0.2 !important;
  pointer-events: none;
}

/* Скрытие пагинации на десктопах */
@media (min-width: 1140px) {
  .how-to-use-pagination {
    display: none !important;
    opacity: 0 !important;
    height: 0 !important;
    pointer-events: none !important;
  }
}

/* Кастомные стили для буллетов */
.swiper-pagination-bullet-active {
  background-color: #EF5106 !important;
  transition: all 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
  width: 1px !important;
  position: static;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

.custom-bullet {
  display: inline-block;
  width: 10px !important;
  height: 10px !important;
  opacity: 0.1 !important;
  margin-right: 8px !important;
  border-radius: 50%;
  cursor: pointer;
  background: #252c3e;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.hero-bullet {
  transform: scale(0.9) !important;
  background-color: #fff !important;
  opacity: 0.8 !important;
}

@media (min-width: 768px) {
  .hero-bullet {
    transform: scale(1.8) !important;
    margin-right: 8px !important;
  }
}

.custom-bullet.swiper-pagination-bullet-active,
.hero-bullet.swiper-pagination-bullet-active {
  background-color: #ff5722 !important;
}

.hero-pagination {
  margin-bottom: 10px;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}
